<ion-content class="ion-padding">
    <p class="header">Drum Loops Player</p>
    <ion-item *ngFor="let drumLoop of drumLoops" >
      <div class="imageBtm" (click)="goToMusicPage(drumLoop)">
        <div class="image" [ngStyle]="{'background-image':
        'url(../../assets/imgs/' + drumLoop + '.jpg)'}"></div>
        <div class="label">{{drumLoop}}</div>
      </div>
      </ion-item>
</ion-content>
