ion-content{
    .header {
        font-size: 2em;
        font-weight: bold;
        margin-left: 0.5em;
        margin-bottom: 0.5em;
    }
    .imageBtn{
        height: 80px;
        width: 100%;
        position: relative;
        margin-bottom: 0.5em;
    
    }
    .image{
        background-size: cover;
        background-position: center;
        position: absolute;
        height: 100%;
        width: 100%;
        &:after{
            content: " ";
            background-color: rgba(0,0,0,0.4);
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
    .label{
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2em;
        color: white;
    }
}
